/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

/* fonts */
a,
p,
h1,
h2,
h3 {
    color: blue;
    font-family: "Archivo", sans-serif;
}

/* #region header / navigation */

header {
    background-color: #fffffff1;
    padding: 0px;
    height: 84.5px;
    width: 100%;
    z-index: 1000;
}



header div {
    display: flex;
    justify-content: center;
}

header div ul:first-of-type {
    position: absolute;
    left: 0;
}

header div ul:last-of-type {
    position: absolute;
    right: 0;
}

header div ul {
    display: flex;
    list-style: none;
    position: relative;
    top: 1rem;
}

header div ul:first-of-type {
    text-align: left;
}

header div ul:last-of-type {
    text-align: right;
    position: absolute;
    right: 2.8rem;
}

header div ul li {
    letter-spacing: 2px;
    margin: 0 1rem;
}

header div ul:last-of-type li {
    margin: 0 1rem;
}



header div ul li a {
    text-decoration: none;
    color: blue;
}

header div div {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    bottom: 1rem;
}

header div div h2 a {
    color: blue;
    font-size: 3rem;
    margin: 0;
    font-weight: 900;
    text-decoration: none;
    transition: .5s ease;
}

header div div div a {
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 1.05rem;
    color: black;
    font-weight: 1000;
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .5s ease;
}

/* hover fx */
/* always + @ @ @ @ @ @ @ logo */
header div div:hover div a {
    opacity: .7;
}

header div div:hover h2 a {
    opacity: .7;
}

#headerHr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 1rem 0;
    position: relative;
    bottom: 2.5rem;
}

/* #endregion header / navigation*/
/* #region main */
main {
    width: 1300px;
    margin: auto;
}
.mainHeaderHr{
    border: none;
    border-top: 1px solid #ff0000;
    margin: 1rem 0;
    position: relative;
    top: 30rem;
}
/* clothing section nav */
.clothingNav ul {
    list-style: none;
    width: 15rem;
    position: relative;
    bottom: 3rem;
    left: 7rem;
}

.clothingNav ul li:first-of-type img {
    width: 15rem;
}

.clothingNav ul li hr {
    border: 0;
    border-top: 1px solid #ddd;
}

.clothingNav ul li:nth-child(2) hr {
    margin-top: 2rem;
}

.clothingNav ul li a {
    text-decoration: none;
    transition: 500ms ease;
    font-size: 1.2rem;
}

.clothingNav ul li a:hover {
    color: #0000ff88;
}
.gridTwo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 16.55rem;
    position: relative;
    left: 9rem;
    bottom: 3.5rem;
    gap: .3rem;
}
.gridTwo img{
    width: 8rem;
    cursor: pointer;
    transition: 400ms ease;
    outline: transparent solid 1px;
    border-radius: 4px;
}
.gridTwo img:hover{
    outline: blue solid 1px;
}


/* grid */
.gridOne {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 2rem;
}

.itemImage img {
    width: 100%;
}
.ItemDetails{
    position: relative;
    left: 2rem;
}
.itemImage, .ItemDetails{
    position: relative;
    top: 12rem;
}
#brbr{
    border: none;
    border-top: 1px solid #ddd;
    margin: 1rem 0;
    position: relative;
    top: 10.85rem;
    left: 25rem;
    width: 800px;
}
/* item details */
/* h1 */
#itemName{
    font-size: 1.7rem;
    margin: .5rem 0;
    font-weight: 600;
    letter-spacing: 1px;
}
#itemPrice{
    font-size: 1.5rem;
    margin: .5rem .0;
    font-weight: 400;
    letter-spacing: 1.5px;
}
#itemDescription{
    width: 70%;
    position: relative;
    top: 2.5rem;
}
#tax{
    margin: 0;
}
#size{
    margin: 2.5rem 0 .5rem 0;
}
#itemSizes{
    border: none;
    border: blue solid 1px;
    background-color: lime;
    width: 7rem;
    height: 2.5rem;
    color: blue;
    font-size: 1rem;
}
#itemSizes:focus{
    outline: none;
}
#atc{
    border: none;
    width: 7rem;
    height: 2.5rem;
    display: block;
    position: relative;
    top: 1rem;
    color: blue;
    cursor: pointer;
    transition: 400ms ease;
}
#atc:hover{
    border: blue solid 1px;
}
#brbrbr{
    border: none;
    border-top: 1px solid #ddd;
    margin: 1rem 0;

}
.ymal{
    position: relative;
    top: 6rem;
    left: 25rem;
    width: 800px;
}
.gridContainerThree{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
}
.product{
    text-align: center;
    overflow-x: hidden;
}
.product a img{
    width: 10rem;
}
.product h2{
    margin: 0;
    font-size: 1rem;
    letter-spacing: 1px;
}
.product p{
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: 1px;
}
/* #endregion main */